.App {
  text-align: center;
}

.nav {
  height: 70px;
  background-color: #ededed;
  opacity: 0.49;
  width: 100%;

  display: flex;
  margin-bottom: 20px;
}

.text-box {
  outline: none;
  border: 0;
  width: 260px;
  height: 25px;
  font-size: 17px;
  border-bottom: solid 3px #505050;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 33px;

}

.Kreative-Kitchen_Logo {
  /* display: inline-flex; */
  align-self: center;
  justify-content: center;
}

.Kreative-Kitchen_Logo img {
  width: 60%;
}

.Hamburger_Menu {
  width: 32px;
  height: 16px;
  align-self: left;
  justify-content: left;
}

.Hamburger_Menu img {
  width: 40px;
  margin-left: 21px;
  margin-top: 18px;
}

.menu-items {
  display: none;
}

.search-bar-container {
  display: flex;
}

.Search {
  width: 100%;
}

form {
  margin-bottom: -15px;
}

.Search img {
  width: 43px;
  height: 43px;
  margin-left: 23px;
  margin-top: 25px;
}

input {
  font-size: 17px;
  position: relative;
  bottom: 20px;
  color: #505050;
  border: 1px solid green;

}

input::placeholder {
  width: 209px;
  height: 20px;
  font-family: Avenir;
  font-size: 17px;
  font-weight: 500;
  /*font-style: normal;*/
  /*font-stretch: normal;*/
  /*line-height: normal;*/
  /*letter-spacing: normal;*/
  text-align: left;
  margin-bottom: 0px;
  color: #d5d5d5;
}

.enter-an-ingredient {
  font-size: 34px;
  width: 304px;
  height: 43px;
  font-family: 'Marcellus', serif;
  font-size: 34px;
  margin: 0 auto;
  text-align: center;
  color: #505050;
  margin-top: 45px;
  
}

.entering-more-will {
  font-size: 25px;
  width: 347px;
  height: 62px;
  font-family: 'Marcellus', serif;
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  color: #505050;
  margin-top: 10px;
}

.ingredient-text {
  display:flex;
  flex-direction: column;
  justify-items: center;
  margin: 0 auto;
}

/*Font 1 font-family: 'Marcellus', serif;*/
/*Font 2 @font-face {
    font-family: 'Avenir LT Std 65 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 65 Medium'), url('AvenirLTStd-Medium.woff') format('woff');*/

.recipe-box-container {
  border-radius: 10px;
  background-color: #f3f3f3;
}

.recipe-box {
  display: flex;
  align-items: flex-start;
  padding-top: 18px;
  padding-left: 17px;
}

.recipe-box img {
  height: 95px;
}

.recipe-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 11px;
}

.recipe-details p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.recipe-title {
  width: 234px;
  height: 25px;
  font-family: 'Marcellus', serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 25px;
  letter-spacing: normal;
  color: #3e3e3e;
  padding-right: 19px;
  text-align: left;
  overflow: scroll;
}

.recipe-time {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #3e3e3e;
  padding-bottom: 5px;
}

.recipe-summary {
  width: 233px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #505050;
}

div.ingredient-tag-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 23px;
  justify-content: left;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 0.53px;
  color: #3e3e3e;
}

.ingredienttag-ingredienttag {
  width: 201px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff7894;
  color: white;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.ingredienttag-x {
  font-weight:900;
  color: white;
  font-size: 25px;
}

div.ingredienttag-ingredienttag {
  padding-top: 5px;
  padding-bottom: -5px;
}

div.ingredienttag-ingredienttag {
  /* width: 201px; */
  margin: 5px 5px;
  padding: 0 25px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff7894;
  color: white;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}

button.ingredienttag-x {
  font-weight:400;
  color: white;
  font-size: 35px;
  position: relative;
  right:-25px;
  top: -5px;
}

@media only screen and (min-width: 1045px) {
  .nav {
    height: 70px;
    background-color: #ededed;
    opacity: 0.49;
  
    display: flex;
    justify-content: space-around;
    margin-bottom: 125px;
  }

  .Hamburger_Menu {
    display: none;
  }

  .Kreative-Kitchen_Logo {
    margin: 0;
  }
  
  .Kreative-Kitchen_Logo img {
    width: 251px;
    height: 27px;
  }

  .menu-items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }

  .menu-items a {
    padding-left: 50px;
    padding-right: 50px;
  }

  .before-search-container {
    display: flex;
    flex-direction: column;
  }

  .search-bar-container {
    padding-top: 50px;
  }

  .Search input {
    font-size: 24px;
    width: 930px;
  }

  .enter-an-ingredient {
    order: 1;
    width: 447px;
  }

  .entering-more-will {
    order: 2;
    width: 716px;
  }

  .after-search-container {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipe-box-container {
    order: 6;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 300px);
  }

  .recipe-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-top: 18px;
    padding-left: 17px; */
  }

  .recipe-box img {
    height: 247px;
  }

  .ingredient-tag-container {
    order: 4;
  }

  .number-results {
    order: 5;
    align-self: flex-start;
    padding-top: 50px;
    padding-left: 144px;
    height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.67px;
    color: #3e3e3e;
  }
}