/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}


/* Demry */

/* Linda */
.App {
  text-align: center;
}

.search-bar {
  margin-bottom: 100px;
}
.recipe-box {
  display: flex;
  align-items: flex-start;
  padding-top: 18px;
  padding-left: 17px; 
}
.recipe-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.recipe-details p {
  margin: 0;
}
.recipe-title {
  width: 234px;
  height: 50px;
  font-family: 'Marcellus', serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 25px;
  letter-spacing: normal;
  color: #3e3e3e;
  padding-left: 10px;
  padding-right: 19px;
}
.recipe-time {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}