.App {
  text-align: center;
}

.nav {
  height: 70px;
  margin-bottom: 104px;
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .recipe-box {
      display: flex;
      align-items: flex-start;
    }
    .recipe-details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .recipe-details p {
      margin: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}